#download {
  padding: 130px 0;
  background-image: url(../../assts/imagens/bg-download.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

#download img {
  width: 48px;
  height: 48px;
  margin-bottom: 29px;
}

#download h2.h6 {
  color: var(--bg1);
  margin-bottom: 16px;
}

#download a.h6 {
  color: var(--bg1);
}
