#products {
  margin-bottom: 100px;
}

.products {
  display: flex;
  gap: 50px;
}

.product {
  position: relative;
}

.product img {
  margin-bottom: 24px;
}

.product p {
  line-height: 170%;
}

.new {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 11px 16px;
  background-color: var(--bg1);
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .products {
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .new {
    top: 8px;
    right: 8px;
    padding: 6px 8px;
  }
}
